.ofertas{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    
    
}
.tamproductos{
    width: 30vh;
    height: 30vh;
    margin-top: 10vh;
    
}
.textofertas{
    text-align: center;
    margin-top: 10vh;
}
.carouselheight{
    height: 60vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.imgincaro{
  
    width: 100vh;
    height: 60vh;
}